@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web

@if(!Umbraco.MemberIsLoggedOn())
{
    using(Html.BeingUmbracoForm("SubmitLogin", "Member", System.Web.Mvc.FormMethod.Post, new { id="login" }))
    {
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { palceholder = "Username" })
        
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
        
        @Html.ValidationSummary()
        <button name="login" type="subit">Login</button>
    }
}
else
{
    Html.RenderAction("RenderLogout", "Member");
}